{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["new_pw1"].value;
        	var y = document.forms["myForm"]["new_pw2"].value;
                if (x != y) {
                    alert("Unfortunately the passwords did not match");
                    return false;
                }
            	else {
            	    alert("Succes! Your password was changed")
            		return true;
                }
            }

    </script>

<form name="myForm" action="{{ url_for('changepassword') }}" onsubmit="return validateForm()" method="post">
    <div class="container">
        <div class="row transparent">
            <div class="col-sm-4 offset-4">
                <div class="tuyin first">


                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="new_pw1" placeholder="New password" type="text"/>
                        </div>
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="new_pw2" placeholder="Repeat new password" type="text"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Submit" class="btn play-btn btn-default btn-gameactive btn-outline-light">Change password</button>
                        </div>

                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
