{% extends "layout.html" %}

{% block title %}
    Create Question
{% endblock %}

{% block main %}
<!-- fill in your question here, to create a question a person has to fill in the question and the answers */ -->
     <form action="{{ url_for('create') }}" method="post">
       <fieldset>
         <div class="form-group">
			<div class="col-sm-8 offset-2">
              <label class="question-label"><h4>Fill in your question here:</h4></label>
              <input type="question" class="form-control" id="question" name="question" placeholder="Question">
        </div>
      </div>
   
<!-- fill in your answers here, correct answer must always be the first one. Beneath it there will be a submit button */ -->
	<div class="col-sm-4 offset-2">
		<label class="question-label"><h4>Fill in your answers here:</h4></label>
	</div>

      <div>
          <div class="row">
            <div class="col-sm-4 offset-2">
              <input type="answer" class="form-control" id="answer" name="correct_answer" placeholder="Correct answer">
            </div>
            <div class="col-sm-4">
              <input type="answer" class="form-control" id="answer" name="wrong_answer1" placeholder="Answer">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 offset-2">
              <input type="answer" class="form-control" id="answer" name="wrong_answer2" placeholder="Answer">
            </div>
            <div class="col-sm-4">
              <input type="answer" class="form-control" id="answer" name="wrong_answer3" placeholder="Answer">
            </div>
          </div>
          <div class="container col-sm-2 col-sm-offset-6">
            	<button type="submit" class="btn btn-default btn-question-sbmt btn-outline-light">SUBMIT QUESTION</button>
          </div>
          </div>
        </div>
       </fieldset>
     </form>

     <div class="row transparent">
			  <div class="col-sm-6 offset-3">
				    <div class="tuyin first">
				      <h3>Community guidelines:</h3>
				    	<p> <bold> Please fill in appropriate community standard questions and answers <br> </br>
				    	    Create realistic questions, no obscure questions will be added to the database <br> </br>
				    	    Be creative, the more creative the better!
				    	    </bold></p>
				    </div>
				</div>
			</div>
{% endblock %}

