{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <div class="container">
      <a type="button" value ="button" class="btn btn-default btn-signup btn-outline-light"> lol </a>
    </div>

    <div class="container">
      <button type="button" value ="button" class="btn btn-default btn-signup btn-outline-light" data-toggle="modal" href="#myModal2">SIGN UP TODAY</button>
    </div>

    <div class="container" id="slogan">
      <p>
        <font color="#FFFFFF"><center>Create, Play, Compete</center></font>
      </p>
    </div>
{% endblock %}
