{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}
    <div class="container">
		<div class="row transparent">

			<div class="col-md-6">
				<div class="tuyin first">
                    <h3>HIGHEST SCORE</h3>
                    {% for row in scores %}
                        <p><strong>{{ row.username }}:</strong> {{ row.score }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
				<div class="tuyin first">
                    <h3>MOST QUESTIONS CORRECT</h3>
                    {% for row in questions_correct %}
                        <p><strong>{{ row.username }}:</strong> {{row.correct }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
