{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["password"].value;
        	var y = document.forms["myForm"]["confirmpassword"].value;
                if (x != y) {
                    alert("Unfortunately the passwords did not match");
                    return false;
                }
            	else {
            		return true;
                }
            }

    </script>

    <form action="{{ url_for('login') }}" method="post">
      <fieldset>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
        	<div class="modal-dialog modal-login">
        		<div class="modal-content">

        			<div class="modal-header">
        				<div class="avatar">
                            <img src="static/avatar.png" alt="Avatar">
        				</div>
        				<h4 class="modal-title">Member Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			</div>

        			<div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                        </div>
        			</div>

        		</div>
        	</div>
        </div>
    </fieldset>
  </form>

  <form name="myForm" action="{{ url_for('register') }}" onsubmit="return validateForm()" method="post">
       <fieldset>
        <!-- Modal HTML -->
         <div id="myModal2" class="modal fade">
          <div class="modal-dialog modal-login">
            <div class="modal-content">

              <div class="modal-header">
                <div class="avatar">
                  <img src="static/avatar.png" alt="Avatar">
                </div>
                <h4 class="modal-title">Become a Member</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>

              <div class="modal-body">
                  <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" required="required">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Register</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
       </fieldset>
     </form>

       <div class="form-group">
        <div class="col-md-6 offset-md-4 center-block">
            <a class="btn btn-default btn-outline-light btn-xlg " data-toggle="modal" href="#myModal2">SIGN UP TODAY</a> <!-- btn-signup -->
        </div>
      </div>

      <div class="container" id="slogan">
         <p>
           <center>CREATE, PLAY, COMPETE</center>
         </p>
      </div>
{% endblock %}
