{% extends "layout.html" %}

{% block title %}
    logout screen
{% endblock %}

{% block main %}
       <!-- redirect to a quote after logging out, after 5 seconds people return to the 'login' screen -->
      <div class="container" id="quote"  >
        <p>
          <center>Thank you for visiting our website,</center>
            <p><center>“An investment in knowledge always pays the best interest.”</center></p>
            <meta http-equiv="refresh" content="5;login" />
        </p>
      </div>
{% endblock %}
