{% extends "layout.html" %}

{% block title %}
   Play
{% endblock %}

{% block main %}
   <form action="{{ url_for('play') }}" method="post">
       <div class="container-fluid">
         <div class="row">
             <div class="col-md-4 offset-md-4 center-block">
                 <center><a class="btn btn-outline-light play-btn btn-default btn-xlg" href="{{ url_for('play_activegame') }}">PLAY GAME</a></center>
             </div>
         </div>
       </div>
   </form>
{% endblock %}
