{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
 <div class="container">
		<div class="row transparent">
			<div class="col-md-6">
				<div class="tuyin first">
					<span class="title">PROFILE INFO</span>

							<div class="text">
								<h3>Username: </h3>
								<p class="lead">{{ username }}</p>

								<h3>Password</h3>
								<i class="lead">encrypted </i><a class="lead" href="{{ url_for('changepassword') }}">(Change password?)</a>
							</div>
				</div>
			</div>

	<div class="col-md-6">
		<div class="tuyin first">
			<span class="title">YOUR STATS</span>

				<div class="text">
					<h3>Questions answered</h3>
					<p>...</p>

					<h3>Correct answers</h3>
					<p>... (... %)</p>

					<h3>Wrong answers</h3>
					<p>... (... %)</p>

					<h3>Your Score</h3>
					<p>... (... %)</p>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
