{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="container">
      <div class="row">
        <div class="col" id="profile-box">
            <h1>PROFILE INFORMATION</h1>
            <h3>Username</h3>
            <p>{{ username }}</p>
            <h3>Password</h3>
            <i>encrypted </i><a href="#">(Change password?)</a>
        </div>
        <div class="col">
          <h1>YOUR STATS</h1>
          <h3>Questions answered</h3>
          <p>...</p>
          <h3>Correct answers</h3>
          <p>... (... %)</p>
          <h3>Wrong answers</h3>
          <p>... (... %)</p>
        </div>
      </div>
    </div>

{% endblock %}
