{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block main %}

      <div class="timer">
        <div class="col-md-6 offset-md-4 center-block">
          <p id="demo"></p>
            <p>Time left: <span id="countdowntimer">15</span> seconds</p>
            <script type="text/javascript">
                var timeleft = 15;
                var downloadTimer = setInterval(function(){
                timeleft--;
                document.getElementById("countdowntimer").textContent = timeleft;
                if(timeleft <= 0)
                    clearInterval(downloadTimer);
                },1000);
            </script>
        </div>
      </div>

      <div class="container" id="question-lg">
        <div class="row transparent">
  		    <div class="col-sm-4 offset-4">
  			    <div class="tuyin first">
                    <p>
                        <h3><center>{{ question }}</center></h3>
                    </p>
                </div>
            </div>
      </div>

    <div class="container">
        <form action="{{ url_for('question') }}" method="post">
          <fieldset>

            <div class = "row">
              <div class="col-sm-6 offset-3">
                <button type="submit" class="btn play-btn btn-default btn-question-sbmt btn-lg btn-outline-light" name="choice" value="{{ question_id,answer1 }}">{{ answer1 }}</button>
              </div>
            </div>

            <div class = "row">
              <div class="col-sm-6 offset-3">
                <button type="submit" class="btn play-btn btn-default btn-question-sbmt btn-lg btn-outline-light" name="choice" value="{{ question_id,answer2 }}">{{ answer2 }}</button>
              </div>
            </div>

            <div class = "row">
              <div class="col-sm-6 offset-3">
                <button type="submit" class="btn play-btn btn-default btn-question-sbmt btn-lg btn-outline-light" name="choice" value="{{ question_id,answer3 }}">{{ answer3 }}</button>
              </div>
            </div>

            <div class = "row">
              <div class="col-sm-6 offset-3">
                <button type="submit" class="btn play-btn btn-default btn-question-sbmt btn-outline-light" name="choice" value="{{ question_id,answer4 }}">{{ answer4 }}</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

      <div class = "row">
        <div class="col-md-4 offset-md-4">
          <div style=" text-align: center;" > <h4 class="score">SCORE: {{ score }}</h4>
              <!-- HIER MOET EEN SCOREBORD KOMEN MET AANTALEN GOED EN FOUT  -->
          </div>
        </div>
      </div>
  <!--</form>-->

 <!-- redirect function, als de timer op is en moet redirecten naar een andere pagina,
<div class="container" id="quote">
  <p>
    <font color="#FFFFFF"><center>Thanks for visiting our website,</center></font>
      <p><font color="#FFFFFF"><center>“An investment in knowledge always pays the best interest.”</center></font></p>
      <meta http-equiv="refresh" content="5;login" />
  </p>
</div> -->
{% endblock %}
